<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Recommendr</title>

        <link rel="stylesheet" href="css/normalize.css" />
        <link rel="stylesheet" href="css/app.css" />

        <script src="js/vendor/custom.modernizr.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

    </head>
    <body>
        <ul>
        {% for anime in animes %}
            <li>
                <strong> {{ anime.title }} </strong>
            </li>
        {% endfor %}
        </ul>

        <div class="pagination">
            {% if animes.has_previous %}
                <a href="?page={{ animes.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ animes.number }} of {{ animes.paginator.num_pages }}.
            </span>

            {% if animes.has_next %}
                <a href="?page={{ animes.next_page_number }}">next</a>
            {% endif %}
        </div>
    </body>

    <script src="js/foundation/foundation.js"></script>
    <script src="js/foundation/foundation.alerts.js"></script>
    <script src="js/foundation/foundation.clearing.js"></script>
    <script src="js/foundation/foundation.cookie.js"></script>
    <script src="js/foundation/foundation.dropdown.js"></script>
    <script src="js/foundation/foundation.forms.js"></script>
    <script src="js/foundation/foundation.joyride.js"></script>
    <script src="js/foundation/foundation.magellan.js"></script>
    <script src="js/foundation/foundation.orbit.js"></script>
    <script src="js/foundation/foundation.placeholder.js"></script>
    <script src="js/foundation/foundation.reveal.js"></script>
    <script src="js/foundation/foundation.section.js"></script>
    <script src="js/foundation/foundation.tooltips.js"></script>
    <script src="js/foundation/foundation.topbar.js"></script>

</html>